:root {
  --the7-accent-bg-color: #094f73;
  --the7-accent-color: #094f73;
  --the7-additional-logo-elements-color: #839ba7;
  --the7-additional-logo-elements-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-additional-logo-elements-font-size: 16px;
  --the7-additional-logo-elements-font-weight: normal;
  --the7-additional-logo-elements-icon-color: #094f73;
  --the7-additional-logo-elements-icon-size: 24px;
  --the7-additional-menu-elements-color: #333333;
  --the7-additional-menu-elements-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-additional-menu-elements-font-size: 16px;
  --the7-additional-menu-elements-font-weight: 600;
  --the7-additional-menu-elements-icon-color: #094f73;
  --the7-additional-menu-elements-icon-size: 24px;
  --the7-base-border-radius: 0px;
  --the7-base-color: #5e7986;
  --the7-base-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-base-font-size: 16px;
  --the7-base-line-height: 26px;
  --the7-beautiful-loading-bg: #ffffff;
  --the7-beautiful-spinner-color: #094f73;
  --the7-big-button-border-radius: 2px;
  --the7-body-bg-attachment: fixed;
  --the7-body-bg-color: #f5f5f5;
  --the7-body-bg-image: none;
  --the7-body-bg-position-x: center;
  --the7-body-bg-position-y: center;
  --the7-body-bg-repeat: no-repeat;
  --the7-body-bg-size: cover;
  --the7-border-radius-size: 0px;
  --the7-bottom-bar-bottom-padding: 20px;
  --the7-bottom-bar-height: 60px;
  --the7-bottom-bar-line-size: 1px;
  --the7-bottom-bar-menu-switch: 778px;
  --the7-bottom-bar-switch: 992px;
  --the7-bottom-bar-top-padding: 20px;
  --the7-bottom-bg-color: rgba(17,17,17,0);
  --the7-bottom-bg-image: none;
  --the7-bottom-bg-position-x: center;
  --the7-bottom-bg-position-y: top;
  --the7-bottom-bg-repeat: repeat;
  --the7-bottom-color: #7f7f7f;
  --the7-bottom-content-padding: 0px;
  --the7-bottom-input-border-width: 1px;
  --the7-bottom-input-padding: 5px;
  --the7-bottom-logo-bottom-padding: 0px;
  --the7-bottom-logo-left-padding: 0px;
  --the7-bottom-logo-right-padding: 0px;
  --the7-bottom-logo-top-padding: 0px;
  --the7-bottom-overlay-content-padding: 0px;
  --the7-box-width: 1680px;
  --the7-breadcrumbs-bg-color: #594492;
  --the7-breadcrumbs-border-color: rgba(255,255,255,0);
  --the7-breadcrumbs-border-radius: 2px;
  --the7-breadcrumbs-border-width: 0px;
  --the7-breadcrumbs-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-breadcrumbs-font-size: 14px;
  --the7-breadcrumbs-line-height: 20px;
  --the7-breadcrumbs-margin-bottom: 0px;
  --the7-breadcrumbs-margin-left: 0px;
  --the7-breadcrumbs-margin-right: 0px;
  --the7-breadcrumbs-margin-top: 10px;
  --the7-breadcrumbs-padding-bottom: 0px;
  --the7-breadcrumbs-padding-left: 0px;
  --the7-breadcrumbs-padding-right: 0px;
  --the7-breadcrumbs-padding-top: 0px;
  --the7-breadcrumbs-text-transform: none;
  --the7-btn-bg-color: #48cc5c;
  --the7-btn-border-color: #48cc5c;
  --the7-btn-border-hover-color: #3aa852;
  --the7-btn-color: #222222;
  --the7-btn-hover-bg-color: #3aa852;
  --the7-btn-hover-color: #222222;
  --the7-btn-l-border-radius: 2px;
  --the7-btn-l-border-width: 0px;
  --the7-btn-l-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-btn-l-font-size: 15px;
  --the7-btn-l-font-weight: 700;
  --the7-btn-l-icon-size: 15px;
  --the7-btn-l-padding-bottom: 16px;
  --the7-btn-l-padding-left: 24px;
  --the7-btn-l-padding-right: 24px;
  --the7-btn-l-padding-top: 16px;
  --the7-btn-l-text-transform: none;
  --the7-btn-m-border-radius: 2px;
  --the7-btn-m-border-width: 0px;
  --the7-btn-m-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-btn-m-font-size: 13px;
  --the7-btn-m-font-weight: 700;
  --the7-btn-m-icon-size: 13px;
  --the7-btn-m-padding-bottom: 14px;
  --the7-btn-m-padding-left: 20px;
  --the7-btn-m-padding-right: 20px;
  --the7-btn-m-padding-top: 14px;
  --the7-btn-m-text-transform: none;
  --the7-btn-s-border-radius: 2px;
  --the7-btn-s-border-width: 0px;
  --the7-btn-s-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-btn-s-font-size: 11px;
  --the7-btn-s-font-weight: 700;
  --the7-btn-s-icon-size: 11px;
  --the7-btn-s-line-height: 13px;
  --the7-btn-s-padding-bottom: 9px;
  --the7-btn-s-padding-left: 12px;
  --the7-btn-s-padding-right: 12px;
  --the7-btn-s-padding-top: 10px;
  --the7-btn-s-text-transform: uppercase;
  --the7-button-hover-bg-color: #3aa852;
  --the7-button-normal-bg-color: #48cc5c;
  --the7-classic-menu-bottom-margin: 0px;
  --the7-classic-menu-top-margin: 0px;
  --the7-close-menu-caption-color-hover: #000000;
  --the7-close-menu-caption-color: #000000;
  --the7-close-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-close-menu-caption-font-size: 16px;
  --the7-close-menu-caption-gap: 20px;
  --the7-close-menu-caption-text-transform: uppercase;
  --the7-close-mobile-menu-caption-color: #094f73;
  --the7-close-mobile-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-close-mobile-menu-caption-font-size: 16px;
  --the7-close-mobile-menu-caption-gap: 10px;
  --the7-close-mobile-menu-caption-text-transform: none;
  --the7-content-boxes-bg: #f5f5f5;
  --the7-content-width: 1300px;
  --the7-divider-bg-color: rgba(0,0,0,0);
  --the7-divider-color: rgba(0,0,0,0.12);
  --the7-elementor-lg-breakpoint: 1025px;
  --the7-elementor-md-breakpoint: 768px;
  --the7-elementor-sm-breakpoint: 480px;
  --the7-elementor-xl-breakpoint: 1440px;
  --the7-elementor-xs-breakpoint: 0px;
  --the7-elementor-xxl-breakpoint: 1600px;
  --the7-filter-border-radius: 100px;
  --the7-filter-decoration-line-size: 2px;
  --the7-filter-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-filter-font-size: 15px;
  --the7-filter-font-weight: 600;
  --the7-filter-item-margin-bottom: 0px;
  --the7-filter-item-margin-left: 0px;
  --the7-filter-item-margin-right: 20px;
  --the7-filter-item-margin-top: 10px;
  --the7-filter-item-padding-bottom: 6px;
  --the7-filter-item-padding-left: 0px;
  --the7-filter-item-padding-right: 0px;
  --the7-filter-item-padding-top: 6px;
  --the7-filter-pointer-bg-radius: 100px;
  --the7-filter-pointer-border-width: 2px;
  --the7-filter-text-transform: none;
  --the7-first-switch-header-padding-left: 30px;
  --the7-first-switch-header-padding-right: 30px;
  --the7-first-switch-mobile-header-height: 60px;
  --the7-first-switch: 1025px;
  --the7-float-menu-bg: #f5f5f5;
  --the7-float-menu-height: 60px;
  --the7-float-menu-line-decoration-color: rgba(0,0,0,0.05);
  --the7-float-menu-line-decoration-size: 1px;
  --the7-floating-header-bg-image: none;
  --the7-floating-header-bg-position-x: center;
  --the7-floating-header-bg-position-y: center;
  --the7-floating-header-bg-repeat: repeat;
  --the7-floating-header-bg-size: auto;
  --the7-floating-logo-bottom-padding: 0px;
  --the7-floating-logo-left-padding: 0px;
  --the7-floating-logo-right-padding: 0px;
  --the7-floating-logo-top-padding: 0px;
  --the7-floating-menu-active-last-color: #839ba7;
  --the7-floating-menu-color-active: #839ba7;
  --the7-floating-menu-color-hover: #839ba7;
  --the7-floating-menu-color: #839ba7;
  --the7-floating-menu-hover-last-color: #839ba7;
  --the7-floating-mixed-logo-bottom-padding: 0px;
  --the7-floating-mixed-logo-left-padding: 0px;
  --the7-floating-mixed-logo-right-padding: 0px;
  --the7-floating-mixed-logo-top-padding: 0px;
  --the7-floating-mobile-logo-bottom-padding: 0px;
  --the7-floating-mobile-logo-left-padding: 0px;
  --the7-floating-mobile-logo-right-padding: 0px;
  --the7-floating-mobile-logo-top-padding: 0px;
  --the7-footer-bg-color: rgba(255,255,255,0);
  --the7-footer-bg-image: url('https://www.fempa.es/wp-content/uploads/2020/03/art-tr-log.png');
  --the7-footer-bg-position-x: right;
  --the7-footer-bg-position-y: bottom;
  --the7-footer-bg-repeat: no-repeat;
  --the7-footer-bottom-padding: 0px;
  --the7-footer-decoration-line-size: 1px;
  --the7-footer-left-padding: 60px;
  --the7-footer-outline-color: rgba(129,215,66,0.96);
  --the7-footer-right-padding: 60px;
  --the7-footer-switch-colums: 992px;
  --the7-footer-switch: 778px;
  --the7-footer-top-padding: 60px;
  --the7-general-border-radius: 0px;
  --the7-general-title-responsiveness: 778px;
  --the7-h1-color: #094f73;
  --the7-h1-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-h1-font-size-desktop: 30px;
  --the7-h1-font-size-mobile: 22px;
  --the7-h1-font-size-tablet: 34px;
  --the7-h1-font-weight: 600;
  --the7-h1-line-height-desktop: 44px;
  --the7-h1-line-height-mobile: 32px;
  --the7-h1-text-transform: none;
  --the7-h2-color: #094f73;
  --the7-h2-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-h2-font-size-desktop: 34px;
  --the7-h2-font-weight: 600;
  --the7-h2-line-height-desktop: 40px;
  --the7-h2-text-transform: none;
  --the7-h3-color: #094f73;
  --the7-h3-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-h3-font-size-desktop: 24px;
  --the7-h3-font-weight: 600;
  --the7-h3-line-height-desktop: 28px;
  --the7-h3-text-transform: none;
  --the7-h4-color: #094f73;
  --the7-h4-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-h4-font-size-desktop: 20px;
  --the7-h4-font-weight: 600;
  --the7-h4-line-height-desktop: 24px;
  --the7-h4-text-transform: none;
  --the7-h5-color: #094f73;
  --the7-h5-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-h5-font-size-desktop: 18px;
  --the7-h5-font-weight: 600;
  --the7-h5-line-height-desktop: 24px;
  --the7-h5-text-transform: none;
  --the7-h6-color: #094f73;
  --the7-h6-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-h6-font-size-desktop: 16px;
  --the7-h6-font-weight: 600;
  --the7-h6-line-height-desktop: 22px;
  --the7-h6-text-transform: none;
  --the7-hamburger-border-width: 0px;
  --the7-hamburger-close-border-radius: 0px;
  --the7-hamburger-close-border-width: 0px;
  --the7-hamburger-mobile-close-border-radius: 0px;
  --the7-hamburger-mobile-close-border-width: 0px;
  --the7-header-bg-color: #ffffff;
  --the7-header-bg-image: none;
  --the7-header-bg-position-x: center;
  --the7-header-bg-position-y: center;
  --the7-header-bg-repeat: repeat;
  --the7-header-bg-size: auto;
  --the7-header-classic-menu-line-size: 1px;
  --the7-header-decoration-size: 1px;
  --the7-header-decoration: rgba(51,51,51,0.11);
  --the7-header-height: 190px;
  --the7-header-left-padding: 30px;
  --the7-header-mobile-left-padding: 30px;
  --the7-header-mobile-menu-bottom-padding: 30px;
  --the7-header-mobile-menu-left-padding: 30px;
  --the7-header-mobile-menu-right-padding: 15px;
  --the7-header-mobile-menu-top-padding: 45px;
  --the7-header-mobile-right-padding: 30px;
  --the7-header-right-padding: 30px;
  --the7-header-side-content-width: 300px;
  --the7-header-side-width: 300px;
  --the7-header-slide-out-width: 400px;
  --the7-header-switch-paddings: 1025px;
  --the7-header-transparent-bg-color: #eeee22;
  --the7-input-bg-color: #ffffff;
  --the7-input-border-color: rgba(0,0,0,0.12);
  --the7-input-border-radius: 0px;
  --the7-input-color: #7f7f7f;
  --the7-input-height: 40px;
  --the7-left-content-padding: 0px;
  --the7-left-input-border-width: 1px;
  --the7-left-input-padding: 15px;
  --the7-left-overlay-content-padding: 0px;
  --the7-lg-breakpoint: 1025px;
  --the7-lightbox-arrow-size: 64px;
  --the7-links-color: #094f73;
  --the7-logo-area-left-padding-bottom: 0px;
  --the7-logo-area-left-padding-left: 0px;
  --the7-logo-area-left-padding-right: 0px;
  --the7-logo-area-left-padding-top: 0px;
  --the7-logo-area-right-padding-bottom: 0px;
  --the7-logo-area-right-padding-left: 0px;
  --the7-logo-area-right-padding-right: 0px;
  --the7-logo-area-right-padding-top: 0px;
  --the7-main-logo-bottom-padding: 0px;
  --the7-main-logo-left-padding: 0px;
  --the7-main-logo-right-padding: 0px;
  --the7-main-logo-top-padding: 0px;
  --the7-main-menu-icon-size: 16px;
  --the7-md-breakpoint: 768px;
  --the7-medium-button-border-radius: 2px;
  --the7-mega-col-padding-bottom: 0px;
  --the7-mega-col-padding-left: 15px;
  --the7-mega-col-padding-right: 15px;
  --the7-mega-col-padding-top: 0px;
  --the7-mega-menu-desc-color: #094f73;
  --the7-mega-menu-desc-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-mega-menu-desc-font-size: 14px;
  --the7-mega-menu-title-color: #094f73;
  --the7-mega-menu-title-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-mega-menu-title-font-size: 16px;
  --the7-mega-menu-title-font-weight: 600;
  --the7-mega-menu-title-icon-size: 24px;
  --the7-mega-menu-title-text-transform: none;
  --the7-mega-menu-widget-color: #333333;
  --the7-mega-menu-widget-title-color: #333333;
  --the7-mega-submenu-col-width: 200px;
  --the7-mega-submenu-item-2-level-spacing: 0px;
  --the7-mega-submenu-item-padding-bottom: 10px;
  --the7-mega-submenu-item-padding-left: 0px;
  --the7-mega-submenu-item-padding-right: 0px;
  --the7-mega-submenu-item-padding-top: 10px;
  --the7-mega-submenu-padding-bottom: 20px;
  --the7-mega-submenu-padding-left: 15px;
  --the7-mega-submenu-padding-right: 15px;
  --the7-mega-submenu-padding-top: 20px;
  --the7-megamenu-title-active-color: #094f73;
  --the7-megamenu-title-hover-color: #094f73;
  --the7-menu-active-color: #839ba7;
  --the7-menu-active-decor-color: rgba(255,255,255,0);
  --the7-menu-active-last-color: #839ba7;
  --the7-menu-active-line-decor-color: #094f73;
  --the7-menu-area-below-padding-bottom: 0px;
  --the7-menu-area-below-padding-left: 0px;
  --the7-menu-area-below-padding-right: 0px;
  --the7-menu-area-left-padding-bottom: 0px;
  --the7-menu-area-left-padding-left: 0px;
  --the7-menu-area-left-padding-right: 0px;
  --the7-menu-area-right-padding-bottom: 0px;
  --the7-menu-area-right-padding-left: 30px;
  --the7-menu-area-right-padding-right: 0px;
  --the7-menu-area-right-padding-top: 0px;
  --the7-menu-area-top-line-padding-bottom: 0px;
  --the7-menu-area-top-line-padding-left: 0px;
  --the7-menu-area-top-line-padding-right: 0px;
  --the7-menu-area-top-line-right-padding-bottom: 0px;
  --the7-menu-area-top-line-right-padding-left: 0px;
  --the7-menu-area-top-line-right-padding-right: 0px;
  --the7-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-menu-caption-font-size: 16px;
  --the7-menu-caption-gap: 10px;
  --the7-menu-caption-text-transform: none;
  --the7-menu-click-decor-bg-color: rgba(9,79,115,0);
  --the7-menu-color: #839ba7;
  --the7-menu-decor-border-radius: 3px;
  --the7-menu-decor-color-2: 180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 100%;
  --the7-menu-decor-color: rgba(255,255,255,0.8);
  --the7-menu-decoration-line-size: 3px;
  --the7-menu-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-menu-font-size: 16px;
  --the7-menu-font-weight: normal;
  --the7-menu-hover-color: #094f73;
  --the7-menu-hover-decor-color: #094f73;
  --the7-menu-hover-last-color: #094f73;
  --the7-menu-item-divider-width: 2px;
  --the7-menu-item-margin-bottom: 0px;
  --the7-menu-item-margin-left: 2px;
  --the7-menu-item-margin-right: 0px;
  --the7-menu-item-margin-top: 0px;
  --the7-menu-item-padding-bottom: 20px;
  --the7-menu-item-padding-left: 0px;
  --the7-menu-item-padding-right: 0px;
  --the7-menu-item-padding-top: 20px;
  --the7-menu-line-decor-color: #094f73;
  --the7-menu-tem-divider-color: rgba(51,51,51,0.1);
  --the7-menu-tem-divider-height: 16px;
  --the7-menu-text-transform: none;
  --the7-message-color: #ffffff;
  --the7-microwidget-button-2-bg: #48cc5c;
  --the7-microwidget-button-2-border-color: #094f73;
  --the7-microwidget-button-2-border-radius: 5px;
  --the7-microwidget-button-2-border-width: 0px;
  --the7-microwidget-button-2-bottom-padding: 12px;
  --the7-microwidget-button-2-color: #ffffff;
  --the7-microwidget-button-2-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --the7-microwidget-button-2-font-size: 13px;
  --the7-microwidget-button-2-font-weight: 700;
  --the7-microwidget-button-2-hover-bg: #48cc5c;
  --the7-microwidget-button-2-hover-border-color: #094f73;
  --the7-microwidget-button-2-hover-color: #ffffff;
  --the7-microwidget-button-2-icon-gap: 10px;
  --the7-microwidget-button-2-icon-size: 13px;
  --the7-microwidget-button-2-left-padding: 39px;
  --the7-microwidget-button-2-right-padding: 39px;
  --the7-microwidget-button-2-top-padding: 12px;
  --the7-microwidget-button-bg: #094f73;
  --the7-microwidget-button-border-color: #094f73;
  --the7-microwidget-button-border-radius: 0px;
  --the7-microwidget-button-border-width: 1px;
  --the7-microwidget-button-bottom-padding: 10px;
  --the7-microwidget-button-color: #ffffff;
  --the7-microwidget-button-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-microwidget-button-font-size: 14px;
  --the7-microwidget-button-font-weight: 700;
  --the7-microwidget-button-hover-bg: #094f73;
  --the7-microwidget-button-hover-border-color: #094f73;
  --the7-microwidget-button-hover-color: #ffffff;
  --the7-microwidget-button-icon-gap: 5px;
  --the7-microwidget-button-icon-size: 14px;
  --the7-microwidget-button-left-padding: 20px;
  --the7-microwidget-button-right-padding: 20px;
  --the7-microwidget-button-top-padding: 10px;
  --the7-microwidgets-in-top-line-color: #888888;
  --the7-microwidgets-in-top-line-font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  --the7-microwidgets-in-top-line-font-size: 20px;
  --the7-microwidgets-in-top-line-icon-color: #888888;
  --the7-microwidgets-in-top-line-icon-size: 16px;
  --the7-mixed-logo-bottom-padding: 0px;
  --the7-mixed-logo-left-padding: 0px;
  --the7-mixed-logo-right-padding: 0px;
  --the7-mixed-logo-top-padding: 0px;
  --the7-mobile-floating-header-bg-color: #ffffff;
  --the7-mobile-footer-bottom-padding: 0px;
  --the7-mobile-footer-left-padding: 60px;
  --the7-mobile-footer-right-padding: 30px;
  --the7-mobile-footer-top-padding: 60px;
  --the7-mobile-hamburger-border-width: 0px;
  --the7-mobile-header-bg-color: #ffffff;
  --the7-mobile-header-decoration-color: #ffffff;
  --the7-mobile-header-decoration-size: 0px;
  --the7-mobile-logo-bottom-padding: 0px;
  --the7-mobile-logo-left-padding: 0px;
  --the7-mobile-logo-right-padding: 0px;
  --the7-mobile-logo-top-padding: 0px;
  --the7-mobile-menu-active-color: #094f73;
  --the7-mobile-menu-bg-color: #ffffff;
  --the7-mobile-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-menu-caption-font-size: 16px;
  --the7-mobile-menu-caption-gap: 10px;
  --the7-mobile-menu-caption-text-transform: none;
  --the7-mobile-menu-color: #094f73;
  --the7-mobile-menu-divider-color: rgba(51,51,51,0.07);
  --the7-mobile-menu-divider-height: 2px;
  --the7-mobile-menu-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-menu-font-size: 18px;
  --the7-mobile-menu-font-weight: 600;
  --the7-mobile-menu-hover-color: #094f73;
  --the7-mobile-menu-microwidgets-color: #333333;
  --the7-mobile-menu-microwidgets-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-menu-microwidgets-font-size: 16px;
  --the7-mobile-menu-microwidgets-font-weight: 600;
  --the7-mobile-menu-microwidgets-icon-color: #094f73;
  --the7-mobile-menu-microwidgets-icon-size: 24px;
  --the7-mobile-menu-text-transform: none;
  --the7-mobile-menu-width: 300px;
  --the7-mobile-microwidgets-color: #333333;
  --the7-mobile-microwidgets-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-microwidgets-font-size: 16px;
  --the7-mobile-microwidgets-font-weight: 600;
  --the7-mobile-microwidgets-icon-color: #094f73;
  --the7-mobile-microwidgets-icon-size: 24px;
  --the7-mobile-overlay-bg-color: rgba(17,17,17,0.5);
  --the7-mobile-page-bottom-margin: 60px;
  --the7-mobile-page-left-margin: 30px;
  --the7-mobile-page-right-margin: 30px;
  --the7-mobile-page-top-margin: 60px;
  --the7-mobile-sub-menu-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-sub-menu-font-size: 16px;
  --the7-mobile-sub-menu-text-transform: none;
  --the7-mobile-toggle-menu-border-radius: 0px;
  --the7-mobile-toggle-menu-color: #094f73;
  --the7-mobile-toggle-menu-hover-color: #094f73;
  --the7-mw-address-icon-size: 16px;
  --the7-mw-clock-icon-size: 16px;
  --the7-mw-email-icon-size: 16px;
  --the7-mw-login-icon-size: 16px;
  --the7-mw-phone-icon-size: 16px;
  --the7-mw-search-bg-active-width: 200px;
  --the7-mw-search-bg-color: #ffffff;
  --the7-mw-search-bg-height: 26px;
  --the7-mw-search-bg-width: 180px;
  --the7-mw-search-border-color: #e2e2e2;
  --the7-mw-search-border-radius: 0px;
  --the7-mw-search-border-width: 0px;
  --the7-mw-search-color: #b2b2b2;
  --the7-mw-search-font-family: "Andale Mono", Helvetica, Arial, Verdana, sans-serif;
  --the7-mw-search-font-size: 12px;
  --the7-mw-search-font-weight: normal;
  --the7-mw-search-icon-size: 24px;
  --the7-mw-search-left-padding: 9px;
  --the7-mw-search-overlay-bg: rgba(0,0,0,0.9);
  --the7-mw-search-right-padding: 9px;
  --the7-mw-skype-icon-size: 16px;
  --the7-mw-woocommerce-cart-icon-size: 16px;
  --the7-navigation-bg-color: #fcfcfc;
  --the7-navigation-line-bg: #ffffff;
  --the7-navigation-line-decoration-color: #dd9933;
  --the7-navigation-line-decoration-line-size: 1px;
  --the7-navigation-line-sticky-bg: #000000;
  --the7-navigation-margin: 40px;
  --the7-outside-item-custom-margin: 30px;
  --the7-page-bg-color: #ffffff;
  --the7-page-bg-image: none;
  --the7-page-bg-position-x: center;
  --the7-page-bg-position-y: top;
  --the7-page-bg-repeat: repeat;
  --the7-page-bg-size: auto;
  --the7-page-bottom-margin: 90px;
  --the7-page-left-margin: 30px;
  --the7-page-responsive-title-height: 0px;
  --the7-page-responsive-title-line-height: 34px;
  --the7-page-right-margin: 30px;
  --the7-page-title-bg-color: #094f73;
  --the7-page-title-bg-image: none;
  --the7-page-title-bg-position-x: right;
  --the7-page-title-bg-position-y: bottom;
  --the7-page-title-bg-repeat: no-repeat;
  --the7-page-title-bg-size: auto auto;
  --the7-page-title-border-height: 10px;
  --the7-page-title-border-style: solid;
  --the7-page-title-bottom-padding: 40px;
  --the7-page-title-breadcrumbs-color: #ffffff;
  --the7-page-title-color: #ffffff;
  --the7-page-title-decorative-line-height: 6px;
  --the7-page-title-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-page-title-height: 200px;
  --the7-page-title-line-color: rgba(51,51,51,0.11);
  --the7-page-title-line-height: 44px;
  --the7-page-title-line-style: double;
  --the7-page-title-overlay-color: rgba(0,0,0,0.5);
  --the7-page-title-text-transform: none;
  --the7-page-title-top-padding: 40px;
  --the7-page-top-margin: 40px;
  --the7-project-rollover-bg-color: rgba(255,255,255,0.2);
  --the7-right-content-padding: 0px;
  --the7-right-input-border-width: 1px;
  --the7-right-input-padding: 15px;
  --the7-right-overlay-content-padding: 0px;
  --the7-rollover-bg-color: rgba(255,255,255,0.2);
  --the7-second-switch-header-padding-left: 15px;
  --the7-second-switch-header-padding-right: 15px;
  --the7-second-switch-mobile-header-height: 40px;
  --the7-second-switch: 778px;
  --the7-secondary-text-color: #094f73;
  --the7-side-header-h-stroke-height: 130px;
  --the7-side-header-v-stroke-width: 60px;
  --the7-sidebar-distace-to-content: 60px;
  --the7-sidebar-outline-color: rgba(0,0,0,0.06);
  --the7-sidebar-responsiveness: 992px;
  --the7-sidebar-width: 250px;
  --the7-sm-breakpoint: 480px;
  --the7-small-button-border-radius: 2px;
  --the7-soc-ico-hover-color: #ffffff;
  --the7-soc-icons-bg-size: 30px;
  --the7-soc-icons-border-radius: 20px;
  --the7-soc-icons-border-width: 0px;
  --the7-soc-icons-gap: 6px;
  --the7-soc-icons-size: 16px;
  --the7-sticky-header-overlay-bg: rgba(17,17,17,0.4);
  --the7-sub-menu-icon-size: 16px;
  --the7-sub-subtitle-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-sub-subtitle-font-size: 12px;
  --the7-submenu-active-bg: rgba(9,79,115,0.07);
  --the7-submenu-active-color: #094f73;
  --the7-submenu-bg-color: #ffffff;
  --the7-submenu-color: #094f73;
  --the7-submenu-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-submenu-font-size: 16px;
  --the7-submenu-hover-bg: rgba(9,79,115,0.07);
  --the7-submenu-hover-color: #094f73;
  --the7-submenu-item-margin-bottom: 2px;
  --the7-submenu-item-margin-left: 0px;
  --the7-submenu-item-margin-right: 0px;
  --the7-submenu-item-margin-top: 0px;
  --the7-submenu-item-padding-bottom: 10px;
  --the7-submenu-item-padding-left: 10px;
  --the7-submenu-item-padding-right: 10px;
  --the7-submenu-item-padding-top: 10px;
  --the7-submenu-padding-bottom: 9px;
  --the7-submenu-padding-left: 10px;
  --the7-submenu-padding-right: 10px;
  --the7-submenu-padding-top: 9px;
  --the7-submenu-text-transform: none;
  --the7-submenu-width: 280px;
  --the7-subtitle-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-subtitle-font-size: 11px;
  --the7-switch-content-paddings: 1025px;
  --the7-text-big-font-size: 16px;
  --the7-text-big-line-height: 26px;
  --the7-text-big: 16px;
  --the7-text-small-line-height: 24px;
  --the7-text-small: 14px;
  --the7-title-color: #094f73;
  --the7-title-font-size: 34px;
  --the7-title-outline-color: rgba(30,115,190,0);
  --the7-title-responsive-font-size: 24px;
  --the7-toggle-menu-bg-color-hover: rgba(255,255,255,0.75);
  --the7-toggle-menu-bg-color: rgba(255,255,255,0.75);
  --the7-toggle-menu-border-radius: 0px;
  --the7-toggle-menu-bottom-margin: 0px;
  --the7-toggle-menu-caption-color-hover: #000000;
  --the7-toggle-menu-caption-color: #000000;
  --the7-toggle-menu-caption-padding-bottom: 18px;
  --the7-toggle-menu-caption-padding-left: 15px;
  --the7-toggle-menu-caption-padding-right: 15px;
  --the7-toggle-menu-caption-padding-top: 18px;
  --the7-toggle-menu-close-bg-color: rgba(255,255,255,0.75);
  --the7-toggle-menu-close-bottom-margin: 30px;
  --the7-toggle-menu-close-color: #000000;
  --the7-toggle-menu-close-left-margin: 30px;
  --the7-toggle-menu-close-padding-bottom: 15px;
  --the7-toggle-menu-close-padding-left: 15px;
  --the7-toggle-menu-close-padding-right: 15px;
  --the7-toggle-menu-close-padding-top: 15px;
  --the7-toggle-menu-close-right-margin: 30px;
  --the7-toggle-menu-close-top-margin: 30px;
  --the7-toggle-menu-color-hover: #000000;
  --the7-toggle-menu-color: #000000;
  --the7-toggle-menu-hover-bg-color: rgba(255,255,255,0.75);
  --the7-toggle-menu-hover-color: #000000;
  --the7-toggle-menu-left-margin: 0px;
  --the7-toggle-menu-right-margin: 0px;
  --the7-toggle-menu-top-margin: 0px;
  --the7-toggle-mobile-margin-bottom: 0px;
  --the7-toggle-mobile-margin-left: 0px;
  --the7-toggle-mobile-margin-right: 0px;
  --the7-toggle-mobile-margin-top: 0px;
  --the7-toggle-mobile-menu-caption-color-hover: #094f73;
  --the7-toggle-mobile-menu-caption-color: #094f73;
  --the7-toggle-mobile-menu-close-bottom-margin: 0px;
  --the7-toggle-mobile-menu-close-color: #094f73;
  --the7-toggle-mobile-menu-close-hover-color: #333333;
  --the7-toggle-mobile-menu-close-left-margin: 0px;
  --the7-toggle-mobile-menu-close-padding-bottom: 5px;
  --the7-toggle-mobile-menu-close-padding-left: 5px;
  --the7-toggle-mobile-menu-close-padding-right: 5px;
  --the7-toggle-mobile-menu-close-padding-top: 5px;
  --the7-toggle-mobile-menu-close-right-margin: 0px;
  --the7-toggle-mobile-menu-close-top-margin: 15px;
  --the7-toggle-mobile-padding-bottom: 0px;
  --the7-toggle-mobile-padding-left: 0px;
  --the7-toggle-mobile-padding-right: 0px;
  --the7-toggle-mobile-padding-top: 0px;
  --the7-top-bar-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-top-bar-font-size: 16px;
  --the7-top-bar-font-weight: 600;
  --the7-top-bar-height: 36px;
  --the7-top-bar-icon-color: #ffffff;
  --the7-top-bar-icon-size: 24px;
  --the7-top-bar-line-color: rgba(0,0,0,0.12);
  --the7-top-bar-line-size: 1px;
  --the7-top-bar-line-style: solid;
  --the7-top-bar-mobile-padding-bottom: 3px;
  --the7-top-bar-mobile-padding-left: 20px;
  --the7-top-bar-mobile-padding-right: 20px;
  --the7-top-bar-mobile-padding-top: 3px;
  --the7-top-bar-padding-bottom: 4px;
  --the7-top-bar-padding-left: 30px;
  --the7-top-bar-padding-right: 30px;
  --the7-top-bar-padding-top: 4px;
  --the7-top-bar-switch-paddings: 778px;
  --the7-top-bar-text-transform: none;
  --the7-top-bar-transparent-bg-color: rgba(0,0,0,0.5);
  --the7-top-bg-color: #094f73;
  --the7-top-bg-image: none;
  --the7-top-bg-position-x: center;
  --the7-top-bg-position-y: center;
  --the7-top-bg-repeat: repeat;
  --the7-top-color: #ffffff;
  --the7-top-icons-bg-color-hover: #094f73;
  --the7-top-icons-bg-color: #3a728f;
  --the7-top-icons-border-color-hover: #094f73;
  --the7-top-icons-border-color: #094f73;
  --the7-top-icons-color: #ffffff;
  --the7-top-input-border-width: 1px;
  --the7-top-input-padding: 5px;
  --the7-top-overlay-content-padding: 0px;
  --the7-transparent-logo-bottom-padding: 0px;
  --the7-transparent-logo-left-padding: 0px;
  --the7-transparent-logo-right-padding: 0px;
  --the7-transparent-logo-top-padding: 0px;
  --the7-transparent-mixed-logo-bottom-padding: 0px;
  --the7-transparent-mixed-logo-left-padding: 0px;
  --the7-transparent-mixed-logo-right-padding: 0px;
  --the7-transparent-mixed-logo-top-padding: 0px;
  --the7-transparent-mobile-logo-bottom-padding: 0px;
  --the7-transparent-mobile-logo-left-padding: 0px;
  --the7-transparent-mobile-logo-right-padding: 0px;
  --the7-transparent-mobile-logo-top-padding: 0px;
  --the7-wc-grid-product-gap: 0px;
  --the7-wc-grid-product-min-width: 0px;
  --the7-widget-content-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-widget-content-font-size-desktop: 16px;
  --the7-widget-content-line-height-desktop: 26px;
  --the7-widget-content-text-transform: none;
  --the7-widget-footer-color: #7f7f7f;
  --the7-widget-footer-header-color: #333333;
  --the7-widget-footer-padding: 30px;
  --the7-widget-gap: 15px;
  --the7-widget-sidebar-bg-color: #f7f7f8;
  --the7-widget-sidebar-bg-image: none;
  --the7-widget-sidebar-bg-position-x: center;
  --the7-widget-sidebar-bg-position-y: center;
  --the7-widget-sidebar-bg-repeat: repeat;
  --the7-widget-sidebar-color: #7f7f7f;
  --the7-widget-sidebar-distace: 40px;
  --the7-widget-sidebar-header-color: #333333;
  --the7-widget-title-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-widget-title-font-size-desktop: 18px;
  --the7-widget-title-font-weight: 600;
  --the7-widget-title-line-height-desktop: 24px;
  --the7-widget-title-text-transform: none;
  --the7-woo-content-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-woo-content-font-size-desktop: 16px;
  --the7-woo-content-line-height-desktop: 26px;
  --the7-woo-content-text-transform: none;
  --the7-woo-title-font-family: "Titillium Web", Helvetica, Arial, Verdana, sans-serif;
  --the7-woo-title-font-size-desktop: 18px;
  --the7-woo-title-font-weight: 600;
  --the7-woo-title-line-height-desktop: 24px;
  --the7-woo-title-text-transform: none;
  --the7-wpb-mobile-screen-width: 767px;
  --the7-xl-breakpoint: 1440px;
  --the7-xs-breakpoint: 0px;
  --the7-xxl-breakpoint: 1600px;
}
